body{
    background-color:#f3f1f7;

}
section{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 25px;
    border: 5px solid white;
    border-radius: 5px;
    background-color: white;
    width: 50%;
    font-family: 'Homemade Apple', cursive;
    margin: 0 auto;
}
form{
    display: flex;
    justify-content: center;
    width: 50%;
    background-color:#B1DDEA;
    font-family: 'Dosis', sans-serif;
    padding: 10%;
    margin: 0 auto;
    border-radius: 5px;
}
post-form {
    display: none;
}

.makeUpAClassNameHere {
    display: block;
}
button{
    width: 600px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    font-family: 'Dosis', sans-serif;
}